[Unit]
Description=SLiM Simple Login Manager
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/slim -nodaemon
# ExecStop line prevents hanging on shutdown
# https://bugs.archlinux.org/task/32380#comment103886
ExecStop=/bin/kill -TERM -${MAINPID}

[Install]
Alias=display-manager.service
