*~
*.pyc
*.elc
*.gpg
*.swp
mutt/mail
offlineimap/*
!offlineimap/offlineimaprc
pentadactyl/info/*
vim/.netrwhist
config/ranger/history
config/ranger/bookmarks
config/ranger/__pycache__/*
config/dwb/adblock_lists/
config/dwb/default/*
config/gtk-youtube-viewer/*.??t
.tags
