*~
*.pyc
*.elc
*.gpg
*.swp
mutt/mail
offlineimap/*
!offlineimap/offlineimaprc
cgdb/*
!cgdb/cgdbrc
pentadactyl/info/*
vim/.netrwhist
config/ranger/history
config/ranger/bookmarks
config/ranger/__pycache__/*
config/dwb/adblock_lists/
config/dwb/default/*
config/gtk-youtube-viewer/*.??t
vim/bundle/taghighlight/plugin/TagHighlight/standard_libraries/libc++/libc++_tags
vim/bundle/taghighlight/plugin/TagHighlight/standard_libraries/libc++/tmp.h
vim/bundle/taghighlight/plugin/TagHighlight/standard_libraries/libc_posix/libc_posix_tags
packages/i3/*
!packages/i3/PKGBUILD
!packages/i3/smart-border.patch
packages/dwb/*
!packages/dwb/PKGBUILD
.tags
