[submodule "i3/xcwd"]
	path = i3/xcwd
	url = https://github.com/schischi-a/xcwd.git
[submodule "scripts/pirate-get"]
	path = scripts/pirate-get
	url = https://github.com/vikstrous/pirate-get
[submodule "scripts/git/git-extras"]
	path = scripts/git/git-extras
	url = https://github.com/tj/git-extras
[submodule "zsh/completions"]
	path = zsh/completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/opp.zsh"]
	path = zsh/opp.zsh
	url = https://github.com/hchbaw/opp.zsh
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
