*~
*.pyc
*.elc
*.gpg
*.swp

mutt/mail
offlineimap/*
!offlineimap/offlineimaprc

cgdb/*
!cgdb/cgdbrc
pentadactyl/info/*

config/ranger/history
config/ranger/bookmarks
config/ranger/__pycache__/*

config/dwb/adblock_lists/
config/dwb/default/*

config/gtk-youtube-viewer/*.??t
config/youtube-viewer/*.cat

firefox/vimperator/info

vim/.netrwhist
vim/bundle/*
vim/session/*

packages/i3/*
!packages/i3/PKGBUILD
!packages/i3/smart-border.patch
packages/dwb/*
!packages/dwb/PKGBUILD
.tags
