[submodule "i3/xcwd"]
	path = i3/xcwd
	url = https://github.com/schischi-a/xcwd.git
[submodule "scripts/fzf"]
	path = scripts/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "scripts/opp.zsh"]
	path = scripts/opp.zsh
	url = https://github.com/hchbaw/opp.zsh
