# https://crontab.guru/
# have to enable/start cronie.service with systemctl
# run 0 minutes after 6 PM every day
0 18 * * *       $HOME/dotfiles/scripts/get_arch_packages.sh

# At minute 0 past every 12th hour
0 */12 * * * $HOME/dotfiles/scripts/generate-find-cache.sh
