# have to enable/start cronie.service with systemctl
# run 0 minutes after 6 PM every day
0 18 * * *       $HOME/dotfiles/scripts/get_arch_packages.sh

# run on the hour, every hour
0    * * * *       $HOME/dotfiles/scripts/imap_log_checker.sh

# run every 5 minutes
*/5  * * * *       updatedb && notify-send 'UPDATED DB'
