body{
background:#080808 !Important;
font-family:Helvetica, Arial, Verdana, sans-serif!important;
font-size:12px!important;
color:#bbb!important;
}

/*HEADER SECTION*/


#header-bottom-left {
padding-top:5px !important;
border:none !important;
background:none !important;
box-shadow:none !important;
-webkit-box-shadow:none !important;
height:48px !important;
padding:0 !important;
margin:0 !important;
}

#header-bottom-right {
background:#080808 !important;
border:none !important;
padding:.5em !important;
}

#header-bottom-right a{
color:#aaa !important;
font-weight:600 !important;
}

#header-img {
height:40px !important;
margin-left:1em !important;
margin-top:.3em !important;
-webkit-border-radius:10px;
border-radius:5px;
}


#header {
background: #111 url(http://i.imgur.com/GoNhEMM.jpg) !important;
border-bottom:0!important;
border:none !important;
height:72px!important;
box-shadow:none !important;
-webkit-box-shadow:none !important;
padding:0 !important;
margin:0 !important;
}

#sr-header-area {
background:#080808!important;
text-transform:capitalize!important;
border-bottom:0!important;
height:8px!important;
font-size:12px!important;
font-weight:600;
padding:0 0 15px!important;
}

.sr-bar a {
color:#aaa!important;
}

#sr-more-link {
background:#080808 !important;
font-size:12px;
font-weight:600!important;
color:#aaa!important;
}

.sr-interest-bar {
background:#111 !Important;
}

.bubble {
background:#111 !Important;
}

.selected.title {
margin-right:.5em !Important;
}

.dropdown.srdrop .selected {
color:#aaa!important;
font-size:12px;
font-weight:600!important;
}

.drop-choices.lightdrop {
left:7em !important;
}

.drop-choices.srdrop {
margin:0 !important;
}

.drop-choices {
background:#111 !important;
color:#bbb!important;
-webkit-border-radius:10px;
border-radius:10px;
padding:.7em!important;
border:none !important;
}

.drop-choices a.choice {
color:#ccc !important;
}

.drop-choices a.choice:hover {
color:#ccc!important;
border-radius:5px!important;
-webkit-border-radius:5px!important;
background-color:#222!important;
}

.tabmenu {
-webkit-margin-bottom:0 !important;
margin-bottom:0 !important;
margin-top:0em !important;
background:0 !Important;
border:0 !important;
}


.tabmenu a {
border-top-right-radius: 7px !important;
-webkit-border-top-right-radius:7px !important;
border-top-left-radius: 7px !important; 
-webkit-border-top-left-radius:7px !important;
background:#040404!important;
padding: 5px 7px 3px 7px !important;
border:none !important;
font-size:.9em !Important;
}

.tabmenu li a {
color: #555 !important;
}

.tabmenu .selected a {
padding: 9px 10px 3px 10px !important;
color:#a1a1a1 !important;
margin: 3px !important;
font-weight:800 !important;
background:#080808 !important;
}

.tabmenu a:hover {
color: #a1a1a1 !important;
padding: 5px 7px 2px 7px    !important;
}
    
.tabmenu .selected a:hover {
color:#6f6f6f !important;
padding: 9px 10px 2px 10px !important;
}

.menuarea {
border-bottom:none !important;
padding-bottom:1em !important;
}

.pagename {
display:none !important;
}



/*CONTENT*/


.content {
background:#080808 !important;
padding-left:2em !important;
padding-right:2em !important;
padding-top:2em !important;
border:none !important;
margin:2px !important;
-webkit-margin-top:3px !important;
}

.thumbnail.self {
background-image: url(http://i.imgur.com/KoPKaTM.png)!important;
}

.title {
color:#ccc !important;
text-align:left;
}

.author {
color:#bbb !important
}

.subreddit {
color:#aaa !important;
}

.help.help-cover.promoted {
background:#111 !important;
border-radius:10px!important;
-webkit-border-radius:10px!important;
}

.thumbnail {
border-radius:3px!important;
-webkit-border-radius:3px!important;
}

.organic-listing .link {
background-color:#111 !important;
}

.organic-listing {
background:#111 !important;
border:1px solid #1a1a1a!important;
-webkit-border-radius:5px;
border-radius:5px;
margin-right:26em !important;
}


.rank {
display:none !important;
}

.thing {
padding-top:1em !important;
border:none !important;
}

.flat-list.buttons a{
color:#666 !important;
font-size:.95em;
}

.flat-list.buttons {
overflow:hidden !Important;
font-size:1.05em !important;
}

.tagline {
overflow:hidden !Important;
font-size:.9em !important;
}


.entry.unvoted {
background:#080808 !important;
border-radius:5px !important;
-webkit-border-radius:5px !important;
border:none !important;
}

.entry.likes {
background:#080808 !important;
}

.title a:visited {
color:#5c5c5c !important;
} 

.help-help-cover.organic {
background:none !important;
}

.nextprev {
margin-left:1em !important;
padding:.6em !important;
}

.nextprev a {
color:#ddd !important;
background:#1a1a1a !important;
border:none !important;
}

.nextprev a:hover {
color:#ddd !important;
background:#222!important;
border:0 #eee!important;
}



/*COMMENTS*/

.child {
border-left:1px solid #111 !important;
}

.usertext-edit textarea {
-moz-appearance:none!important;
background-color:#222!important;
color:#ccc!important;
-webkit-border-radius:10px;
border-radius:10px;
border:none !important;
}

.commentarea .thing {
padding-top:.4em !important;
}

.commentarea .entry {
margin-left:2em !important;
}

.commentarea .md {
background:none !Important;
color:#ccc !important;
text-align:left;
margin-left:0 !important;
margin-right:2em !Important;
border:none !important;
}

.commentarea .md  a {
color:#336699 !important;
}

.commentarea .md p {
margin-top:.4em !important;
margin-bottom:.1em !important;
}

.commentarea .markdownEditor a{
color: #bbb !important;
}

blockquote p{
color:#ccc !important;
}

.commentarea blockquote {
margin:1em !important;
color:#ffff9a !important;
}

.commentarea .comment {
margin-right:0 !important;
}

.commentarea .author {
color:#ddd !important;
font-weight:bold !important;
}

.commentarea .submitter.author {
background:#336699 !important;
-webkit-border-radius:5px !important;
border-radius:5px !important;
padding:2px !important;
}

.commentarea .RESImage {
margin-left:0 !Important;
}

.commentarea .collapsed {
margin:0 !important;
padding:0 !important;
}

.commentarea code {
background:#111 !important;
}

.commentarea .collapsed .author {
background:#555 !important;
-webkit-border-radius:1px !important;
border-radius:1px !important;
}

.usertext.cloneable {
margin-left:1em !important;
}

.md .RESImage {
margin-left:0 !important;
}

.voteWeight {
background:none !important;
color:#aaa !important;
}

#shortlink-text {
-moz-appearance:none!important;
color:#555!important;
background-color:#222!important;
-webkit-border-radius:5px;
border-radius:5px;
border:#aaa !important;
}

#shortlink-text:hover {
background:#333 !important;
color:#ccc !important;
}


.usertext-body {
background:none !important;
}

.expand {
background:#111 !important;
color:#bbb !important;
}

.expand:hover {
background:#333 !important;
}

blockquote {
background:#080808 !important;
border-color:#ccc !important;
border-left:1px solid !important;
}



/*SIDE*/


.side {
background:none!important;
margin-top:1em !important;
margin-right:1em !important;
}

.side .content {
background:#111 !Important;
}

.side blockquote {
background:#111 !Important;
}

.sidebox.create, .sidebox.submit, .sidebox.gold, #search {
padding:.7em !important;
border-radius:10px;
-webkit-border-radius:10px;
}

.sidebox.create .spacer, .sidebox.submit .spacer {
box-shadow:none;
-webkit-box-shadow:none;
}

.side img {
border-bottom-right-radius:10px !important;
border-bottom-left-radius:10px !important;
-webkit-border-bottom-right-radius:10px !important;
-webkit-border-bottom-left-radius:10px !important;
}

.side div {
border:none !important;
}

.side .spacer {
background:#111!important;
border-radius:10px;
-webkit-border-radius:10px;
}

#search input{
-moz-appearance:none!important;
color:#555!important;
background-color:#1a1a1a!important;
width:18.65em !important;
font-family:Helvetica, Arial, Verdana, sans-serif!important;
font-size:15px!important;
border:none !important;
border-radius:5px!important;
-webkit-border-radius:5px!important;
}

#searchexpando.infobar {
background:#111 !important;
color:#bbb !important;
-webkit-border-radius:10px !important;
border-radius:10px !important;
}

#searchexpando.infobar input {
margin-left:-.5em !important;
}

.searchfacets {
background:#222 !important;
border-radius:10px!important;
-webkit-border-radius:10px!important;
}

.sidecontentbox {
margin-left:2em!important;
margin-right:2em!important;
padding:10px 0!important;
}

.sidecontentbox li {
background:#111 !important;
}

.sidecontentbox a {
color:#555 !important;
}
.sidecontentbox .title, .helplink {
margin:1em !important;
margin-left:auto !important;
margin-right:auto !important;
}

.sidecontentbox .content {
width:auto!important;
border:0!important;
box-shadow:none;
-webkit-box-shadow:none;
}

.sidecontentbox .entry {
margin-left:2em !important;
}

.goldvertisement {
border-radius:7px !important;
-webkit-border-radius:7px !important;
color:#555 !important;
font-size:9px !important;
box-shadow:none !important;
-webkit-box-shadow:none !important;
}

.titlebox ol {
background:#111 !important;
border:none !important;
}

.titlebox p, .titlebox li, .titlebox em, .titlebox .md {
color:#bbb !important;
background:#111 !important;
}

.titlebox .td {
margin-right:1em !important;
}

.titlebox h1 {
color:#ccc!important;
background:#111 !important;
}

.titlebox .number,.titlebox .word {
color:#bbb!important;
font-weight:700!important;
font-size:12px!important;
}

.titlebox .bottom {
border-top:1px solid #bbb!important;
padding:10px 0 0!important;
}

.titlebox {
background:#111 !important;
padding-top:1em !important;
padding-bottom:1em !important;
border:none !important;
color:#bbb!important;
border-radius:10px;
-webkit-border-radius:10px;
margin:1em !important;
}


.titlebox a {
color:#555 !important;
}

.titlebox .md { 
border-radius:10px!important;
-webkit-border-radius:10px!important;
margin:0 !important;
border:0 !important;
}

.nub {
display:none!important;
}

.morelink {
background:#1a1a1a!important;
border:0!important;
border-radius:5px!important;
-webkit-border-radius:5px!important;
width:15.76em !important;
}


.morelink a {
color:#a0a0a0 !important;
}

.morelink:hover {
background:#222!important;
}

.morelink a:hover {
color:#bfbfbf !important;
}

.linkinfo {
background:#111!important;
border:0!important;
border-radius:5px!important;
-webkit-border-radius:5px!important;
margin:1em !important;
padding-top:1em !important;
padding-bottom:1em !important;
}

.linkinfo span {
color:#bbb !important;
}

.login-required {
color:#bbb !important;
}

.login-required:hover {
color:#eee !important;
}

#ad-frame {
-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;

}

.account-activity-box a {
color:#555 !important;
}

h2 {
color:#aaa !Important;
}

.trophy-name {
color:#bbb !important;
}


.side .content {
padding:0 !important;
}



/*SUBREDDIT SUB PAGE */


.fancy-toggle-button .remove {
color:#000!important;
background:#aaa!important;
}

.fancy-toggle-button .add {
color:#bbb!important;
background:maroon!important;
}

.searchpane.raisedbox {
background-color:#222!important;
border-color:#555!important;
-webkit-border-radius:10px;
border-radius:10px;
border:none !important;
}

.infobar {
background-color:#222!important;
color:#ccc!important;
border-color:#333!important;
-webkit-border-radius:10px;
border-radius:10px;
border:none !important;
}

/*RES STUFF*/

.commentarea .noncollapsed .usertext-body .md {
background:#080808 !important;
}

.RES-keyNav-activeElement {
outline: 1px dashed rgba(255,255,255,0.1)!important;
}

.commentarea .madeVisible {
padding-bottom:1em !important;
}

.entry, .md, .madeVisible{
overflow:visible !important;
}
 
.entry {
margin-left:12em !important;
background-color:#080808 !important;
border: none !important;
}

.RESImage {
border:1px solid #222!important;
-webkit-border-radius:5px;
border-radius:5px;
margin-top:1em !important;
margin-bottom:.5em !important;
margin-left:-7.9em !important;
}

.parent .RESImage {
margin-left:0 !important;
}


.RESGalleryControls {
background:#080808;
color:#fff;
padding:1px !important;
margin-left:0 !Important;
}


#RESShortcutsAddFormContainer, #RESShortcutsEditContainer, #RESShortcutsRight, #RESShortcutsAdd, #RESShortcutsLeft {
background:#080808 !important;
color:#bbb !important;
}

.res #userbarToggle {
background:#080808 !important;
color:#aaa!important;
border:none!important;
}

.RESDialogSmall > h3 {
color:#ccc !important;
background-color:#333 !important;
border:none!important;
-webkit-border-radius:5px!important;
border-radius:5px;
}

.RESDialogSmall.livePreview {
width:41.5em!important;
color:#ccc !important;
background-color:#222 !important;
border:none!important;
-webkit-border-radius:10px!important;
border-radius:10px !important;
}

.RESDialogSmall.livePreview p{
color:#ccc !important;
background-color:#222 !important;
}

.md.RESDialogContents {
background:#222 !Important;
margin-left:2em !Important;
border:none !important;
}

.parentComment {
background-color:#080808!important;
border-radius:7px!important;
-webkit-border-radius:7px!important;
}

.parentComment .md {
border:0 !important;
}

.expando {
margin-left:-5.5em !important;
margin-right:4em !important;
margin-top:2em !important;
margin-bottom:1em !important;
}

.commentarea .expando {
margin-left:0 !important;
margin-top:0 !important;
}

.expando-button {
border-radius:4px!important;
-webkit-border-radius:4px!important;
padding:0 !important;
}

.expando-button.image.commentImg.collapsed {
margin-left:.5em !important;
}

.author.submitter {
color:#ccc !important;
}

#RESConsole.slideIn {
border-radius:10px!important;
-webkit-border-radius:10px!important;
}


.RESBigEditorPop {
background:#080808 !important;
border-radius:7px !important;
-webkit-border-radius:7px !important;
padding-left:2px !important;
color:#bbb !important;
}

.option.active {
padding-right:8px !important;
}


/*OVERRIDE RES COMMENT BOX HIGHLIGHTING*/

.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
background-color:#080808 !important;
}

.comment .comment .comment .comment .comment .comment .comment .comment .comment {
background-color:#080808 !important;
}

.comment .comment .comment .comment .comment .comment .comment .comment {
background-color:#080808 !important;
}

.comment .comment .comment .comment .comment .comment .comment {
background-color:#080808 !important;
}

.comment .comment .comment .comment .comment .comment {
background-color:#080808 !important;
}

.comment .comment .comment .comment .comment {
background-color:#080808 !important;
}

.comment .comment .comment .comment {
background-color:#080808 !important;
}

.comment .comment .comment {
background-color:#080808 !important;
}

.comment .comment {
background-color:#080808 !important;
}

.comment {
background-color:#080808 !important;
}

.thing .child .entry .noncollapsed {
background:#080808 !important;
}
       
.commentarea .thing .entry .noncollapsed {
background:#080808 !important;
}


/*LINK SUBMISSION*/

.roundfield {
background:#1a1a1a!important;
-webkit-border-radius:10px;
border-radius:10px !important;
margin:0 auto !important;
}

.roundfield textarea {
width:492px!important;
-webkit-border-radius:10px;
border-radius:10px;
color: #ccc !important;
background:#333!important;
}

.textarea {
color: #ccc !important;
background:#333!important;
border:none !important;
}

#link-desc.infobar {
background-color:#1a1a1a !important;
color:#bbb !important;
border-color:#555!important;
-webkit-border-radius:10px;
border-radius:10px;
border:none !important;
}

#newlink.submit.content {
width:58em !important;
margin-right:auto !Important;
margin-left:auto !important;
box-shadow:none !important;
-webkit-box-shadow:none !important;

}

#newlink.submit.content .spacer {
box-shadow:none !important;
-webkit-box-shadow:none !important;

}

.formtabs-content {
border-top:none !important;
margin:0 auto !important;
}

.tabmenu.formtab {
margin-left:6em !important;
}

.infobar {
background:#111!important;
border:#333 1px solid !important;
-webkit-border-radius:10px;
border-radius:10px;
}


#url {
color: #ccc !important;
background:#333!important;
-webkit-border-radius:5px;
border-radius:5px;
}

#sr-autocomplete {
color: #bbb !important;
background:#333!important;
-webkit-border-radius:5px;
border-radius:5px;
}

#newlink.submit.content .btn {
margin-left:7em !important;
}

#text-desc.infobar {
background:#1a1a1a !important;
color:#bbb !important;
}

/*SUBREDDIT CREATION PAGE*/



.create-reddit.fancy-settings.thing {
margin-left:10em !Important;
margin-right:auto !important;
}

.linefield {
color:#bbb !important;
background:#1a1a1a !important;
border-radius:10px !important;
-webkit-border-radius:10px !important;
}

.panestack-title {
padding:8px !important;
}
    
#name.text {
color: #bbb !important;
background:#333!important;
-webkit-border-radius:5px;
border-radius:5px;
}

#title.text {
color: #bbb !important;
background:#333!important;
-webkit-border-radius:5px;
border-radius:5px;
}

.option {
color:#bbb !important;
}


/*FOOTER*/

.col {
border-left:1px solid #333 !important;
}

.flat-vert.title {
color:#666 !important;
}

.footer-parent {
width:56em !important;
}

.footer {
border:none !important;
margin-left:auto !important;
margin-right:auto !important;
font-size:.78em !important;
}

.footer li a {
color:#555 !important;
}

.bottommenu {
color:#555 !important;
font-size:.7em !important;
}

/*LOGIN FORM*/

.popup {
background:#1a1a1a !important;
}

.NERPageMarker {
background:#1a1a1a !important;
border:none !important;
}

#modalOverlay.fadeIn {
background:#222 !important;
}

.login-form.login-form-side {
background:none !important;
-webkit-border-radius:10px !important;
border-radius:10px !important;
border:none !important;
padding:.2em !important;
}

input {
background: #333 !important;
color:#bbb !important;
-webkit-border-radius:5px !important;
border-radius:5px !important;
}

.btn {
color:#000 !Important;
}


/*USER PREFERENCE PAGE*/


.content .preftable {
width:50.5em !important;
margin-bottom:2em !important;
}



/*NEEDED FOR USER PAGE*/

.menuarea .selected a {
color:#ccc !important;
}

.menuarea a{
color:#555 !important;
}

.noncollapsed {
margin-left:-9em !important;
}

.noncollapsed .md {
margin-left:-1em !important;
margin-top: 1em !important;
margin-bottom: 1em !important;
border-radius:10px!important;
-webkit-border-radius:10px!important;
}

.commentarea .noncollapsed {
margin-left:0 !important;
}

 .commentarea .noncollapsed .md {
 margin-top:.5em !important; 
 margin-bottom:.5em !important;
 }

.blockquote p {
margin-left:0 !Important;
}

.parent.rounded  {
border:none !important;
}

.noncollapsed .author.submitter {
color:#ccc !important;
background:#336699 !important;
-webkit-border-radius:5px!important;
border-radius:5px!important;
padding:2px !important;
}

/*SUBSCRIPTION LISTING PAGE*/

.listing-page .titlerow{
margin:.5em !important;
}

/*MAKE TABS SMALLER ON USER PAGE TO KEEP FROM OVERFLOWING*/

.profile-page.res .tabmenu a {
margin:-.2em !important;
font-size:.8em !Important;
}




/*FOOTER*/

.footer-parent {
width:56em !important;
}

.footer {
border:none !important;
margin-left:auto !important;
margin-right:auto !important;
font-size:.78em !important;
}

.footer a {
color:#333 !important;
}

.bottommenu {
font-size:.7em !important;
}


/*REDDIT GOLD FIX*/

#about-gold, #about-gold header {
width: auto !important;
}

#about-gold section {
margin:auto !important;
}

#about-gold p, #about-gold h1{
padding-top:0 !important;
padding-bottom:0 !important;
margin:auto !important;
}

#about-gold section.etc.last{
margin-top:5em !important;
}
 
.gold-form .content{
width: auto !important;
}

/*HELP PAGE*/

.wiki-page h3 {
color:#a1a1a1 !important;
}

.wikipage.searchable h1{
color:#ccc !important;
}

.wikipage.searchable  .wiki-toc{
margin:1em !important;
}

.wikipage.searchable blockquote p {
margin-left:1em !important;
}

ol.events.timeline .event-content span.title {
color:#111 !important;
margin-left:.4em !important;
}

.sort-menu {
background:#333 !Important;
}



/*VARIOUS SUBREDDIT COMPAT FIXES BUT MOSTLY IT'S UP TO YOU TO TURN OFF SUBREDDIT CUSTOM STYLES*/


.link.promotedlink {
border:0 !important;
border-radius:10px!important;
-webkit-border-radius:10px!important;
background:#080808 !important;
width:auto !important;
}

.md {
color:#ccc !important;
background:#080808 !important;
margin-right:3em !Important;
border:1px solid #333 !important;
}

.md p {
text-align:left;
margin:1em !important;
}

.side {
border:none !important;
box-shadow:none !important;
}

.tabmenu {
top:3em !important;
left:10em !important;
}

.odd.link {
background:#080808 !important;
}

.even.link {
background:#080808 !important;
}

.side {
padding:0 !important;
}

.titlebox ol {
background:#111 !important;
}


.comment {
background:#080808 !important;
}
