/* New video */
.archive_info{
    color:#ccc!important;
    border-bottom:none!important;
    box-shadow:none!important;
}

#stats_and_actions{
    border-top:none!Important;
}

#archives > .tse-scroll-content{
background:rgb(16,16,16)!important;
}

/* Panels */
#channel_panels_contain.masonry .panel {
    margin-bottom: 30px !important;
    background-color: #333!important;
    color:#ccc!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
    padding-top: 5px!important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px inset!important;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px !important;
    border:1px solid #000 !important;
}

#channel_panels_contain #channel_panels .panel h3 {
    color:#fefefe!important;
}


/* Icons */
    A[class="mod_button ban"] {margin-right:2px!important;padding-top:2px!important;background-repeat:no-repeat!important;background-position:center center!important;background-image:url('http://www.herpderp.com/twitch/ban.png') !important;}
    IMG[src*="g18_ban-00000080"] {visibility:hidden!important;}
    A[class="mod_button unban"] {margin-right:2px!important;padding-top:2px!important;background-repeat:no-repeat!important;background-position:center center!important;background-image:url('http://www.herpderp.com/twitch/unban.png') !important;}
    IMG[src*="g18_unban-00000080"] {visibility:hidden!important;}
    A[class="mod_button timeout"] {padding-top:2px!important;background-repeat:no-repeat!important;background-position:center center!important;background-image:url('http://www.herpderp.com/twitch/clock.png') !important;}
    IMG[src*="g18_clock-00000080"] {visibility:hidden!important;}
    #chat_menu_ban{background-repeat:no-repeat!important;background-position:center center!important;background-image:url('http://www.herpderp.com/twitch/banblk.png') !important;}

/* Facebook connect */

#channel_facebook_connect .leftround{
    background:none!important;
    background-color:#474D57!important;
    color:#ccc!important;
    border-color:#000!important;
    border-radius:0px!important;
    box-shadow: inset 0 0 1px 0 #000!important;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5)!important;
}

#channel_facebook_connect .leftround > span{
    vertical-align:middle!important;
    margin-top:-1px!important;
    padding:5px!important;
    border-radius:0px!important;
}

.facebook_connect{
    background:none!important;
    background-color:#333!important;
    color:#ccc!important;
    border-color:#000!important;
    border-radius:0px!important;
    box-shadow: inset 0 0 1px 0 #000!important;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5)!important;
    border-width:1px!important;
}

/* Text and background of main column */
#player_col, #right_col{
    background-color:black!important;
    color:#ddd!important;
}

/* Chat */
#chat_text_input{
    background-color: #050505!important;
    color: #c8c8c8!important;
    box-shadow: 1px 1px 1px rgb(33,33, 33), 1px 1px 1px rgb(33, 33, 33) inset !important;
}

#chat_line_list > .line > p > [style*=black] {
    color: #777 !important;
}

#chat_line_list > .line > p > [style*="color:#000000"] {
    color: #777 !important;
}

#control_input textarea {
    background-color: #050505!important; 
    color: #c8c8c8!important; 
    box-shadow: 1px 1px 1px rgb(33,33, 33), 1px 1px 1px rgb(33, 33, 33) inset !important;
}

#right_col .content #chat_lines #chat_line_list{
    height: auto;
    background: none repeat scroll 0% 0% rgb(0, 0, 0)!important;
    color:#ccc!important;
}

#right_col .content{
    border-left:1px solid #151515!important;
}


#controls {
    background: none repeat scroll 0% 0% rgb(0, 0, 0)!important;
    border-top: 1px solid rgba(0, 0, 0, 0.65)!important;
    padding: 10px 10px 0px;
}

#chat_lines {
    background: none repeat scroll 0% 0% rgb(8, 8, 8)!important;
    color:#ccc!important;
}

#twitch_chat{
    background: none repeat scroll 0% 0% rgb(8, 8, 8)!important;
    color:#ccc!important;
}

/* Scroll Bar */
.tse-scrollbar .drag-handle {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6)!important;
}

/* Tab selectivity */
.segmented_tabs li a.selected, .segmented_tabs li a:active {
    box-shadow: inset 0 0 1px 0px rgba(0,0,0,0.25)!important;
    border-color:#333!important;
    background-color: #222!important;
    border-radius:0px !important;
    color: #fff!important;
    border-color:#000!important;
}

#right_col .segmented_tabs li .tab:not(.selected) { 
    background:rgb(26,26,26)!important;
    color: #BBB!important;
    border-color:#000!important;
    box-shadow: inset 0 0 1px 0 #000!important;
    border-radius:0px!important;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5)!important;
}


.action,.normal_button {
    border-radius:0px !important;
}

#main_col .content #stats_and_actions #channel_actions .action {
    background-color:#333!important;
}

#subscribe_price.button.leftround.normal_button,#subscribe_action.button.rightround.primary_button{
    background:rgb(51,51,51)!important;
    color:#ccc!important;
    border-color:#000!important;
    border-radius:0px!important;
    box-shadow: inset 0 0 1px 0 #000!important;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5)!important;
}

#right_col .content .bottom #controls #control_buttons .dropdown_glyph, #button_share.dropdown_static.action{
    background-color:rgb(36,36,36)!important;
    color:#ccc!important;
    border-color:#000!important;
    border-radius:0px!important;
    box-shadow: inset 0 0 1px 0 #000!important;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5)!important;
}

#chat_speak.primary_button{
    border-radius:0px!important;
}

#button_options.dropdown_glyph.action{
    border-radius:0px!important;
    border-color:#000!important;
    box-shadow: inset 0 0 1px 0 #000!important;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5)!important;
    background-color:rgb(51,51,51)!important;
}


.content .bottom #controls #control_buttons #chat_viewers_dropmenu_button span, 
.content .bottom #controls #control_buttons #chat_settings_dropmenu_button span,
.content #stats_and_actions #channel_actions #button_options span{
    background-image: url('http://herpderp.com/twitch/glyphs_n.png') !important;
}

.dropdown_glyph, .dropdown_static{
    background-image: url('http://herpderp.com/twitch/arrow_n.png')!important;
}

/* Titlefeb */
#main_col .content #broadcast_meta .image {
    background: none repeat scroll 0% 0% rgb(51, 51, 51)!important;
    border-radius: 0px!important;
    border:1px solid #000 !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px inset!important;
}

.js-title:hover,.js-title{
    margin: 0px!important;
    background:rgb(33,33,33)!important;
    border-radius: 0em!important;
    padding:0px!important;
    color: #fff!important;
}

.title_over{
    margin: 0px!important;
    background:rgb(33,33,33)!important;
    border-radius: 0em!important;
    padding:0px!important;
    color: #fff!important;
    opacity:0!important;
    -webkit-transition:opacity 0.25s ease-in;  
    -moz-transition:opacity 0.25s ease-in;  
    -o-transition:opacity 0.25s ease-in;  
    transition:opacity 0.25s ease-in;
}

.title_over:hover{
    display:inline!important;
    margin: 0px!important;
    background:rgb(33,33,33)!important;
    border-radius: 0em!important;
    padding:0px!important;
    color: #fff!important;
    opacity:70!important;
    -webkit-transition:opacity 0.25s ease-in;  
    -moz-transition:opacity 0.25s ease-in;  
    -o-transition:opacity 0.25s ease-in;  
    transition:opacity 0.25s ease-in;  
}

.real_title{
    color:white!important;
    background:none!important;
}


/*Description Visible*/

/* Videos */
    div.archive .broadcaster{
    background:none!important;
}

.more_archives{
    background:rgb(16,16,16)!important;
    border-color:rgb(22,22,22)!important;
    box-shadow:none!important;
}

.more_archives:hover{
    background:rgb(35,35,35)!important;
    border-color:rgb(22,22,22)!important;
    box-shadow:none!important;
}

#right_col .content #archives .video a .title {
    color: #c8c8c8!important;
}

#archives .scroll-content-contain, #more_videos_spinner {
  background-color: rgb(16,16,16) !important;
}

.thumb, .js-more_archives:hover {
  background-color: rgb(16, 16, 16) !important;
}

.thumb:hover, .js-more_archives:hover {
  background-color: rgb(35, 35, 35) !important;
}

#archives .video a {
  border-bottom: 1px solid rgba(25, 25, 25, 0.75) !important;
  border-top: 1px solid rgba(25, 25, 25, 0.75) !important;
}

#archives .more_videos .js-more_archives, #more_videos_spinner {
    border-top: 1px solid rgb(25, 25, 25) !important;
    box-shadow: 1px 1px 1px rgba(33, 33, 33, 0.65), 1px 1px 1px rgba(0, 0, 0, 0.05) inset !important;
    background: -moz-linear-gradient(center top , rgb(50, 50, 50), rgb(40, 40, 40)) repeat scroll 0% 0% rgb(90, 90, 90) !important;
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(50,50,50)),to(rgb(40, 40, 40))) !important;
}

#archives .more_videos .js-more_archives:hover, #more_videos_spinner:hover {
    border-top: 1px solid rgb(25, 25, 25) !important;
    box-shadow: 1px 1px 1px rgba(33, 33, 33, 0.65), 1px 1px 1px rgba(0, 0, 0, 0.05) inset !important;
    background: -moz-linear-gradient(center top , rgb(80, 80, 80), rgb(60, 60, 60)) repeat scroll 0% 0% rgb(90, 90, 90) !important;
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(50,50,50)),to(rgb(40, 40, 40))) !important;
    color:#8663C7!important;
}

#right_col .content .top #right_nav{
    border-color:#1c1c1c!important;
    background: none repeat scroll 0% 0% rgb(16, 16, 16)!important;
}

#right_col .content .bottom #controls {
    border-color:#1c1c1c!important;
    background: none repeat scroll 0% 0% rgb(16, 16, 16)!important;
}


.channel-main {
    background: none repeat scroll 0% 0% rgb(0, 0, 0)!important;
}


/* Left Sidebar Colour */
#flyout .content {
    background: none repeat scroll 0% 0% rgb(16, 16, 16)!important;
}

#flyout .point {
    background: url("http://herpderp.com/twitch/arrow_search2.png") no-repeat scroll 0px 0px transparent!important;
}

#nav_small,#small_nav .content ul li {
    background:rgb(16,16,16)!important;
}

#small_nav .content ul li a {
    background-color:rgb(16,16,16)!important;
}

#small_nav .content ul li a:hover{
    background-color:rgb(30,30,30)!important;
}

#large_nav .content .nav_section .header, #large_nav .content .bottom .loggedin #user_display_name,
#large_nav .content .bottom .loggedin #account_actions, #large_nav .content .top #logo, #large_nav .content .top #sidebar_search {
    background-color:rgb(16,16,16)!important;
}

#large_nav .content .nav_section a{
    background-color:rgb(16,16,16)!important;
}

#large_nav .content .nav_section a:hover{
    background-color:rgb(30,30,30)!important;
}

#large_nav .game_filters .game_filter span.filter_arrow,
#large_nav .game_filters .game_filter.selected span.filter_arrow {
    background-image: url("http://herpderp.com/twitch/row_arrow_n_.png")!important;
}

#large_nav .game_filters .game_filter span.filter_arrow:hover,
#large_nav .game_filters .game_filter.selected span.filter_arrow:hover {
    background-image: url("http://herpderp.com/twitch/row_arrow_n_.png")!important;
    background-color:rgb(30,30,30)!important;
}

#large_nav .content .nav_section .featured a {
    background-image: url("http://herpderp.com/twitch/row_arrow_n_.png"), url("http://www.twitch.tv/images/xarth/featured_star.png")!important;
}

#large_nav .content #footer{
    background-color:rgb(16,16,16)!important;
    padding-top:5px!important;
}

#large_nav .content #footer .logos {
    display:none!important;
}




/* Hide Beta Bar */
.betabar {
    display:none!important;
}
.channel-main {
    position: absolute;
    top: 0px!important;
}


/* Channel backgrounds */
/* Backgrounds off */
#custom_bg {
    display:none!important;
}

#main_col .content .scroll-content {
    background:rgb(10,10,10)!important;
}


/* Turbo Icon Colour */
.turbo a {
    background-color:#4162A8!important;
    vertical-align:middle!important;
}

.subscriber a {
    vertical-align:middle!important;
}
/* Staff and admin */
.admin,.staff{
    vertical-align:middle!important;
}

/* Broadcaster Icon */
.broadcaster{
    background-color:#333!important;
    vertical-align:middle!important;
}

/* Mod Icon */
.mod{
/* Using old moderator icon */
background-image: url("http://herpderp.com/twitch/originalmod.png")!important;
background-color:#009900!important;
vertical-align:middle!important;
}

/* Icon Sets */
/* Nothing Hidden vanilla icons */


/*Broadcaster Icon*/
.broadcaster{
background-color:#333!important;
vertical-align:middle!important;
}

/* Block Chat Emotes */
/* All Faces Blocked */
[class*="emo-"] {display:none !important;}

/* Fix werster poison */
.emo-544 {
    background-image: url("http://herpderp.com/twitch/poison_white.png")!important;;
}

/* Block ad stuff */ 
#right_col[style*="top: 296px;"]{
top: 0px!important;
}

div[id*="TFIBV"],div[class*="ad_contain"],div[class*="google_companion"],.new_advertisement,.advertisement{
    display:none!important;
    margin:0px!important;
    padding:0px!important;
    visibility:hidden!important;
    z-index:-1000!important;
    width: 0px!important;
    height: 0px!important;
    clip: rect(0px, 0px, 0px, 0px)!important;
}


/* Block User */
/*
[class="username_in_lowercase"] {display:none !important;}
*/

/* Chat Font Options*/
#chat_line_list {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size:1.0em !important;
    line-height:1.50 !important;
}

/* Disable custom turbo colours */
/* Turbo Colours On */

/* Colour Fixing */
/* Block springgreen and lighten all blues */
    #chat_line_list > .line > p > [style*=blue] {color:#c4c4ff!important;}
    #chat_line_list > .line > p > [style*="color:#0000FF"] {color:#c4c4ff!important;}
    
    #chat_line_list > .line > p > [style*=darkblue] {color:#c4c4ff!important;}
    #chat_line_list > .line > p > [style*="color:#00008B"] {color:#c4c4ff!important;}

    #chat_line_list > .line > p > [style*=springgreen] {color:#00A800!important;}
    #chat_line_list > .line > p > [style*="color:#00FF7F"] {color:#00A800!important;}


/*Divide Chat*/
/* Divided Chat */
#chat_line_list .line{
    background-color:rgb(8, 8, 8) !important;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset !important;
}

#chat_line_list .line p{
    margin-bottom:0px!important;
    padding-top:2px!important;
    padding-right:8px!important;
    margin-right:8px!important;
}

#chat_line_list .line:nth-child(2n){
    background-color:rgb(16, 16, 16) !important;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset !important;
}

#chat_line_list .line{
    padding:4px 5px!important;
    text-shadow: rgba(255, 255, 255, 0.09) 0px 1px 0px !important;
    
}

#chat_line_list{
    padding:0px 0px 0px!important;
}

/* Chat Size Options */
/* Default Chat */

/* Left Sidebar Options */
/* Default sidebar */
/* Arrows */
#right_close {
    border-radius:0px !important;
    border:1px solid !important;
    box-shadow: rgba(16, 16, 16, 0.3) 0px 0px 0px 1px !important;
    border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.55)!important;
    border-top: 1px solid rgba(255, 255, 255, 0.04)!important;
    border-bottom: 1px solid rgb(16, 16, 16)!important;
    background-color: rgb(20, 20, 20)!important;
    background-image: url("http://herpderp.com/twitch/a_collapse_r.png")!important;
}


#left_close {
    border-radius:0px !important;
    border:1px solid !important;
    box-shadow: rgba(16, 16, 16, 0.3) 0px 0px 0px 1px !important;
    border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.55)!important;
    border-top: 1px solid rgba(255, 255, 255, 0.04)!important;
    border-bottom: 1px solid rgb(16, 16, 16)!important;
    background-color: rgb(20, 20, 20)!important;
    background-image: url("http://herpderp.com/twitch/a_collapse_r.png")!important;
}

#left_close:hover{
    background-color: rgb(33, 33, 33)!important;
    background-image: url("http://herpderp.com/twitch/a_collapse_r_h.png")!important;
}

#right_close:hover{
    background-color: rgb(33, 33, 33)!important;
    background-image: url("http://herpderp.com/twitch/a_collapse_r_h.png")!important;
}


}

@-moz-document regexp("http://.*twitch.tv/trihex.*"){

.swf_container{
    background:none!important;
}

/* Trihex's stream resolution */
body:not([class*="dashboards"]) [id*="_site_player_"], [id="standard_holder"] { 

    width: 1500px !important;
    height: 658px !important;
}

}

@-moz-document regexp("http://.*twitch.tv/trihex/popout.*"){

/* Trihex's stream resolution */
#standard_holder{
    margin-bottom:0px!important;
}

#live_site_player_flash {
    max-height: 100% !important;
}


}

@-moz-document regexp("http://.*twitch.tv/directory.*"){
/* Directory changes */
#large_nav.content{
    background-color:rgb(16,16,16)!important;
}

div.directory_header,h2.title{
    color:white!important;
    background-color:rgb(0,0,0)!important;
}

body, a, .list-games .game .meta .title, .sub{
    color:rgb(210,210,210)!important;
}

.list-games .game .title:hover, .sub:hover, a:hover{
    color:#6441A5!important;
}

.items-grid .items .stream .meta .desc, .items-grid .items .video .meta .desc {
    color:#ccc!important;
}

.segmented_tabs li a, .normal_button{
    border-top: 1px solid rgb(25, 25, 25)!important;
    box-shadow: 1px 1px 1px rgba(33, 33, 33, 0.65), 1px 1px 1px rgba(0, 0, 0, 0.05) inset !important;
    background: -moz-linear-gradient(center top , rgb(35, 35, 35), rgb(20, 20, 20)) repeat scroll 0% 0% rgb(90, 90, 90) !important;
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(50,50,50)),to(rgb(40, 40, 40))) !important;
    background: -o-linear-gradient(top, #424242, #212121) #222222!important;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35)!important;
}


.directory_header_contain{
    background: rgba(25,25,25,0.7)!important;
}

.tse-scroll-content,.scroll-content-contain{
    background: rgb(0,0,0)!important;
}

.boxart,.thumb{
    z-index:1;
    box-shadow: 2px 2px 1px rgba(192, 192, 192, 0.25)!important;
}

/* Directory fixes for sidebar adjustments*/
#main_col:not([style*="margin-right: 0px;"]):not([style*="margin-right: 320px;"]){
    margin-right:0px!important;
}

#main_col:not([style*="margin-left: 240px;"]):not([style*="margin-left: 50px;"]){
    margin-left:240px!important;
}

#main_col[style*="margin-left: 50px;"]{
    margin-left:50px!important;
}

#main_col[style*="margin-left: 240px;"]{
    margin-left:240px!important;
}


#left_col[style*="width: 50px;"]{
    width:50px!important;
}

#left_col[style*="width: 240px"]{
    width:240px!important;
    margin-left:0px!important;
}

#left_col:not([style*="width: 240px"]):not([style*="width: 50px"]){
    width:240px!important;
    margin-left:0px!important;
}

#small_nav{
width:50px!important;
}

#large_nav{
width:240px!important;

}

/* Arrows */
#right_close {
    border-radius:0px !important;
    border:1px solid !important;
    box-shadow: rgba(16, 16, 16, 0.3) 0px 0px 0px 1px !important;
    border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.55)!important;
    border-top: 1px solid rgba(255, 255, 255, 0.04)!important;
    border-bottom: 1px solid rgb(16, 16, 16)!important;
    background-color: rgb(20, 20, 20)!important;
    background-image: url("http://herpderp.com/twitch/a_collapse_r.png")!important;
}


#left_close {
    border-radius:0px !important;
    border:1px solid !important;
    box-shadow: rgba(16, 16, 16, 0.3) 0px 0px 0px 1px !important;
    border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.55)!important;
    border-top: 1px solid rgba(255, 255, 255, 0.04)!important;
    border-bottom: 1px solid rgb(16, 16, 16)!important;
    background-color: rgb(20, 20, 20)!important;
    background-image: url("http://herpderp.com/twitch/a_collapse_r.png")!important;
}

#left_close:hover{
    background-color: rgb(33, 33, 33)!important;
    background-image: url("http://herpderp.com/twitch/a_collapse_r_h.png")!important;
}

#right_close:hover{
    background-color: rgb(33, 33, 33)!important;
    background-image: url("http://herpderp.com/twitch/a_collapse_r_h.png")!important;
}

}

@-moz-document regexp("http://.*twitch.tv/chat.*"){
table{
    background-color:#000!important;
}

a#chat_viewers_dropmenu_button{
    box-shadow:none!important;
    height:26px!important;
    background:rgb(33,33,33)!important;
    margin-right:2px!important;
    padding-top:2px!important;
    background-repeat:no-repeat!important;
    background-position:center center!important;
    background-image:url('http://www.twitch.tv/images/xarth/g/g18_chatter-FFFFFF80.png')!important;
}

a#chat_settings_dropmenu_button{
    box-shadow:none!important;
    height:26px!important;
    background:rgb(33,33,33)!important;
    margin-right:2px!important;
    padding-top:2px!important;
    background-repeat:no-repeat!important;
    background-position:center center!important;
    background-image:url('http://www.twitch.tv/images/xarth/g/g18_gear-FFFFFF80.png')!important;
}
IMG[src*="g18_chatter-00000080"],IMG[src*="g18_gear-00000080.png"]{
    visibility:hidden!important;
}

#chat_text_input{
    background-color: #050505!important;
    color: #c8c8c8!important;
    box-shadow: 1px 1px 1px rgb(33,33, 33), 1px 1px 1px rgb(33, 33, 33) inset !important;
}

#chat_lines{
    overflow-y: hidden!Important;
}

#chat_lines:hover {
    overflow-y: auto!Important;
}

#controls {
    padding: 0px 0px 0px;
}
