snippet c "C syntax block" b
@begin=c@
$1
@end=c@
$0
endsnippet

snippet cpp "C++ syntax block" b
@begin=cpp@
$1
@end=cpp@
$0
endsnippet

snippet lisp "Lisp syntax block" b
@begin=lisp@
$1
@end=lisp@
$0
endsnippet

snippet penis "penises" b
          _
lol      /\) _
    _   / / (/\  lol
   /\) ( Y)  \ \
  / /   ""   (Y )
 ( Y)  _      ""
  ""  (/\ lol   _
lol    \ \     /\)   lol
       (Y )   / /
        ""   ( Y)
              ""
$0
endsnippet
