snippet marker "fancy console.log marker" !
console.log('%c ==========$1========== ', 'background: #FFFFFF; color: #000000');
endsnippet

snippet clog "console.log something" !
console.log($1);
endsnippet

# vim:ft=snippets:
