KERNEL=="sd*", SUBSYSTEM=="block", ATTRS{model}=="ADATA SX900     ", ATTR{partition}=="1", SYMLINK+="ssdroot"
KERNEL=="sd*", SUBSYSTEM=="block", ATTRS{model}=="ADATA SX900     ", ATTR{partition}=="2", SYMLINK+="ssdhome"
KERNEL=="sd*", SUBSYSTEM=="block", ATTRS{model}=="Ext HDD 1021    ", SYMLINK+="external"
KERNEL=="sd*", SUBSYSTEM=="block", ATTRS{model}=="ST31000333AS    ", ATTRS{vendor}=="ATA     ", SYMLINK+="storage"
